root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.{kt,kts}]
max_line_length = 120
ij_kotlin_allow_trailing_comma = true
ij_kotlin_allow_trailing_comma_on_call_site = true
ktlint_code_style = ktlint_official
# Composable functions are PascalCase by Compose convention.
ktlint_function_naming_ignore_when_annotated_with = Composable

[*.{xml,toml,yml,yaml,json}]
indent_size = 4

[*.{yml,yaml,json}]
indent_size = 2

[*.md]
# Two trailing spaces are a Markdown line break.
trim_trailing_whitespace = false

[*.{bat,cmd}]
end_of_line = crlf
